h2{
    color: #2c3e50;
}
.star{
    fill: #2c3e50 ;

}
.divider .line {
  width: 80px;
  height: 4px;
  background-color: #2c3e50;
  border-radius: 5px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.inputField {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 15px;
  width: 500px;
}

.inputField:focus {
  border-bottom: 2px solid #1abc9c;
}

.submitBtn {
  background-color: #1abc9c;
  color: white;
  width: 100px;     
}

